.again-btn {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #ED413E;
    color: black;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px auto;
    }

.res {
    display: flex;
    justify-content: center;
    color: #ED413E;
}

.results {
    display: flex;
    justify-content: center;
    color:#EFB786;
}