body {
  background-color: #483948;
}

.game-btn {
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: #ED413E;
  color: black;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px auto;
}

.rules-btn {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #B2AB2E;
  color: black;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px auto;
}

.score {
  color:#EFB786;
  display: flex;
  justify-content: center;
  padding: auto;
  margin: 0 auto;
}

.field {
  margin-top: 70px;
}